{% extends 'clothes_app/base.html' %}
{% load static %}
{% block body %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content" dir="rtl">
                        <h2 id="center">درباره ی ما</h2>
                        <span id="center">توجه به جزئیات چیزی است که هگزا را از فروشگاه های دیگر متمایز میکند!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-image">
                        <img src="{% static 'clothes_app/images/about-left-image.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content" dir="rtl">
                        <h4 id="right">درباره ی ما بیشتر بدانید ...</h4>
                        <span id="right">
                            فروشگاه هگزا یک فروشگاه لباس اینترنتی محبوب است که در خیابان کاشانی واقع شده است. با استفاده از فروشگاه آنلاین هگزا، مشتریان می‌توانند به راحتی و با تنها چند کلیک، لباس‌های مد روز را سفارش دهند و به آسانی به آنها دسترسی پیدا کنند.
یکی از ویژگی‌های برجسته فروشگاه هگزا، تنوع بالای محصولات آن است. فروشگاه هگزا مجموعه‌ای گسترده از لباس‌های مردانه و زنانه در اختیار مشتریان خود قرار می‌دهد. این تنوع شامل لباس‌های روزمره، لباس‌های مجلسی، لباس‌های ورزشی، لباس‌های فصلی و بسیاری از سبک‌ها و طرح‌های متنوع است. با این تنوع، هر کسی می‌تواند به راحتی لباس مورد نظر خود را در هگزا پیدا کند.
فروشگاه هگزا همچنین اهمیت زیادی به کیفیت محصولات خود می‌دهد. آنها با انتخاب برندهای معتبر و استفاده از مواد با کیفیت برتر، محصولاتی با استانداردهای بالا ارائه می‌دهند. این امر به مشتریان اعتماد می‌بخشد که می‌توانند لباس‌های با کیفیت و دوام را از هگزا تهیه کنند.
هگزا همچنین برای راحتی مشتریان خود، ارائه خدماتی مانند پرداخت آنلاین ایمن و سریع، ارسال سریع و به موقع سفارشات، و سیاست بازگشت کالاها را دارد. این خدمات باعث می‌شوند مشتریان از تجربه خرید آسان و رضایتمندی در فروشگاه هگزا بهره‌مند شوند.
به طور کلی، فروشگاه هگزا با محصولات متنوع، کیفیت بالا و خدمات مشتریان حرفه‌ای، یک مقصد محبوب برای خرید لباس آنلاین در خیابان کاشانی و حتی در سراسر منطقه است.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Our Team Area Starts ***** -->
    <section class="our-team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading" dir="rtl">
                        <h2>تیم ما</h2>
                        <span>توجه به جزئیات چیزی است که هگزا را از فروشگاه های دیگر متمایز میکند!</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    
                </div>
                <div class="col-lg-4">
                    <div class="team-item">
                        <div class="thumb">
                            <div class="hover-effect">
                                
                            </div>
                            <img src="{%static 'clothes_app/images/ashkan.jpg'%}">
                        </div>
                        <div class="down-content" id="center">
                            <h4>اشکان پورعبدالله</h4>
                            <span>توسعه دهنده وبسایت و ادمین</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area Ends ***** -->

    <!-- ***** Services Area Starts ***** -->
    <section class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>خدمات ما</h2>
                        <span>جزئیات است که هگزا را از بقیه ی فروشگاه ها متمایز میکند</span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>کیفیت بالا</h4>
                        <p> در اینجا محصولات ما با بالاترین کیفیت عرضه میشود که در این زمینه در این سال ها رضایت مشتری را به همراه داشتیم و پیشرفت داشته ایم</p>
                        <img src="{%static 'clothes_app/images/service-01.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>تنوع بالا</h4>
                        <p>در این فروشگاه ما انواع پوشاک مردانه و زنانه و بچگانه و اکسسوری ها را داریم که در میان فروشگاه های مشابه،سعی کردیم که بیشترین تنوع را در محصولات داشته باشیم</p>
                        <img src="{%static 'clothes_app/images/service-02.jpg'%}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-item">
                        <h4>ارسال رایگان</h4>
                        <p>علاوه بر خرید حضوری ، ما خرید اینترنتی هم داریم که میخواهیم مشتری ما از خرید خوشحال باشد ، برای خرید آنها ارسال رایگان را در نظر گرفته ایم</p>
                        <img src="{%static 'clothes_app/images/service-03.jpg'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area Ends ***** -->

            <!-- ***** Subscribe Area Starts ***** -->
            <div class="subscribe">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-6">
                                    <ul dir="rtl">
                                        <li id="right">آدرس فروشگاه : <br><span>شهرکرد - خیابان کاشانی</span></li>
                                        <li id="right">تلفن : <br><span>09391838025</span></li>
                                        <li id="right">اینستاگرام : <br><span>ashkan.pourabdollah@</span></li>
                                    </ul>
                                </div>
                                <div class="col-6">
                                    <ul dir="rtl">
                                        <li id="right">ساعت کار : <br><span>روزانه از 8 صبح تا 8 شب</span></li>
                                        <li id="right">ایمیل : <br><span>ashkanp09@gmail.com</span></li>
                                        <li id="right">تلگرام : <br><span>AshkanPourabdollah</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ***** Subscribe Area Ends ***** -->

{% endblock %}