{%extends 'clothes_app/base.html'%}

{%load static%}



{%block body%}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading about-page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>تماس با ما</h2>
                        <span>برای کمک به ارتقای سطح فروشگاه ، با ما تماس بگیرید</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** Contact Area Starts ***** -->
    <div class="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    
    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container" dir="rtl">
            <div class="row" dir="rtl">
                <div class="col-lg-6" dir="rtl">
                    
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">

                            <!--here we define our comments-->
                            {%for item in comment%}
                            <div class="item">
                                <div class="thumb">
                                    <img src="{% static 'clothes_app/images/person.png' %}" alt="">
                                </div>
                                <div class="down-content" id="right">
                                    <h6>{{item.person}}</h6>
                                    <h6 style="color: slategrey;">{{item.text}}</h6>
                                </div>
                            </div>
                            {%endfor%}
                            
                            <!--ending defining products-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->


                </div>
                <div class="col-lg-6">
                    <div class="section-heading" dir="rtl">
                        <h2 id="right">یک نظر ما رو مهمان کن :)</h2>
                        <p id="right" style="color: darkcyan;">
                            توجه به جزئیات چیزی است که هگزا را از فروشگاه های دیگر متمایز میکند
                        </p>
                    </div>

                    <form id="contact" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset dir="rtl">
                                    {{ form.email }}
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset dir="rtl">
                                    {{ form.person }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset dir="rtl">
                                    {{ form.text }}
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="button" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                    

                    <!--defingin script in code because it is only for this page-->
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script>
                        $(document).ready(function() {
                            $('#form-submit').click(function(event) {
                                event.preventDefault(); // جلوگیری از ارسال فرم به طور معمول
                    
                                // جمع آوری داده های فرم
                                var form_data = {
                                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                                    'person': $('input[name=person]').val(),
                                    'email': $('input[name=email]').val(),
                                    'text': $('textarea[name=text]').val()
                                };
                    
                                if ($('input[name=person]').val() && $('input[name=email]').val() && $('textarea[name=text]').val()) {
                                //  Ajax 
                                // all elements are entered 
                                $.ajax({
                                    type: 'POST',
                                    url: '{% url "contact" %}',
                                    data: form_data,
                                    success: function(response) {
                                        // all done
                                        alert('پیام شما با موفقیت ارسال شد!');
                                        $('#contact')[0].reset(); //  refreshing form
                                    },
                                    error: function(response) {
                                        // error in sending request
                                        alert('مشکلی در ارسال پیام رخ داده است!');
                                    }
                                });
                            } else {
                                // all parameters are not entered complitly
                                alert('لطفا همه ی مقادیر را وارد کنید');
                            }
                            });
                        });
                    </script>

                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Area Ends ***** -->

    <!-- ***** Subscribe Area Starts ***** -->
    <div class="subscribe">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-6">
                            <ul dir="rtl">
                                <li id="right">آدرس فروشگاه : <br><span>شهرکرد - خیابان کاشانی</span></li>
                                <li id="right">تلفن : <br><span>09391838025</span></li>
                                <li id="right">اینستاگرام : <br><span>ashkan.pourabdollah@</span></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul dir="rtl">
                                <li id="right">ساعت کار : <br><span>روزانه از 8 صبح تا 8 شب</span></li>
                                <li id="right">ایمیل : <br><span>ashkanp09@gmail.com</span></li>
                                <li id="right">تلگرام : <br><span>AshkanPourabdollah</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Subscribe Area Ends ***** -->
{%endblock%}